# dropTable

This is a text cell. Start editing!

In [1]:
package org.apache.spark.sql.hive {
import org.apache.spark.sql.hive.HiveUtils
import org.apache.spark.SparkContext

object utils {
    def dropTable(sc: SparkContext, dbName: String, tableName: String, ignoreIfNotExists: Boolean, purge: Boolean): Unit = {
      HiveUtils
          .newClientForMetadata(sc.getConf, sc.hadoopConfiguration)
          .dropTable(dbName, tableName, ignoreIfNotExists, false)
    }
  }
}

In [2]:
import org.apache.spark.sql.hive.utils
//utils.dropTable(sc, "default", "stg_tarif_init", true, true)
utils.dropTable("default", "stg_tarif_init", true, true)

Error: not enough arguments for method dropTable: (sc: org.apache.spark.SparkContext, dbName: String, tableName: String, ignoreIfNotExists: Boolean, purge: Boolean)Unit.
Unspecified value parameter purge. (104)

In [3]:
spark.sql("DROP TABLE default.stg_tarif_init")

[]